{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Triage | ER</title>
    <!-- STYLLING -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<body>
    
    <div class="page-header">
        <h1><a href="/">WalkIn -> Triage -> Registration</a></h1>
        <!-- Authenticate users sessions -->
        {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus bg-infor"></span></a>
        {% endif %}
    </div>
    
    <div class="content container">
        <div class="row">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>

</body>
</html>




